* {
    font-family: Roboto;
}
body {
    display: flex;    
    flex: 1;

}

.header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;

    background-color: #1F2937;
    color: #FFF;

}

.hlogo{
    
}

.link {

}


.hero {

}

.body {

}

.quote {

}

.footer {

}