* {
    font-family: Roboto;
}
body {
    display: flex;    
    flex: 1;

}

.header {
    display: flex;
    flex: 2 1 0;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px;

    background-color: #1F2937;
    color: #FFF;

}

.hlogo{
    
}

.link {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


.hero {

}

.body {

}

.quote {

}

.footer {

}