* {
    font-family: Roboto;
}
body {
    display: flex;    
    flex: 1;

}

.header {
    display: flex;
    flex: 1;
    
    background-color: #1F2937;
    color: #FFF;
}


.hero {

}

.body {

}

.quote {

}

.footer {

}